<ul class="nav nav-sidebar">
    <li><a href="/author/home">#{t.author.sidebar.dashboard}</a></li>
    <li><a href="/author/articles">#{t.author.sidebar.articles}</a></li>
    <li><a href="/author/news">#{t.author.sidebar.news}</a></li>
    <li><a href="/author/resources">#{t.author.sidebar.resources}</a></li>
    <li><a href="/author/traffic">#{t.author.sidebar.traffic}</a></li>
    <li><a href="/author/videos">#{t.author.sidebar.videos}</a></li>
    <li><a href="/author/users">#{t.author.sidebar.users}</a></li>
</ul>