<nav class="navbar navbar-red" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">#{t.navbar.menu}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/#{locale?}/">WULF</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/#{locale?}/">#{t.navbar.home}</a></li>
      <li><a href="/#{locale?}/blog">#{t.navbar.blog}</a></li>
      <li><a href="/#{locale?}/videos">#{t.navbar.videos}</a></li>
      <li><a href="/#{locale?}/resources">#{t.navbar.resources}</a></li>
      <li><a href="#">#{t.navbar.donate}</a></li>
      <li><a href="/#{locale?}/about">#{t.navbar.about}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#{r18n.locale.title} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          - r18n.available_locales.each do |locale|
            <li><a href="/#{locale.code}/">#{locale.title}</a></li>
        </ul>
      </li>
      - if login?
        <li><a href="/sso/author/logout">#{t.navbar.logout}</a></li>
    </ul>
  </div>
</nav>