<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Language
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      
    </ul>
</div>