    == slim :_partial_navbar
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          == slim :_partial_author_sidbar
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">#{t.author.news.header}</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#{t.author.news.table.title}</th>
                  <th>#{t.author.news.table.author}</th>
                  <th>#{t.author.news.table.uploaded}</th>
                  <th>#{t.author.news.table.modified}</th>
                  <th>#{t.author.news.table.actions}</th>
                </tr>
              </thead>
              <tbody>
                - @feeds.each do |feed|
                    <tr>
                      <td><a href="/#{locale?}/news/#{feed.id}">#{feed.title}</a></td>
                      <td>#{feed.author}</td>
                      <td>#{l(feed.created_at)}</td>
                      <td>#{l(feed.updated_at)}</td>
                      <td>
                        - if login_username == feed.author || login_admin? || login_super?
                          <a href="/#{locale?}/author/news/edit/#{feed.id}">#{t.author.news.edit}</a><br>
                          <form action="/author/news/delete/#{feed.id}" method="POST">
                              <input type="submit" name="operation" value="#{t.author.news.delete}">
                          </form>
                      </td>
                    </tr>
              </tbody>
            </table>
            <a href="/#{locale?}/author/news/create">#{t.author.news.new}</a>
          </div>
        </div>
      </div>
    </div>