    == slim :_partial_navbar
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          == slim :_partial_author_sidbar
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">#{t.author.resources.header}</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#{t.author.resources.table.title}</th>
                  <th>#{t.author.resources.table.author}</th>
                  <th>#{t.author.resources.table.link}</th>
                  <th>#{t.author.resources.table.description}</th>
                  <th>#{t.author.resources.table.uploaded}</th>
                  <th>#{t.author.resources.table.modified}</th>
                  <th>#{t.author.resources.table.actions}</th>
                </tr>
              </thead>
              <tbody>
                - @resources.each do |resource|
                    - if login_username == resource.author || login_admin? || login_super?
                        <tr>
                          <form action="/author/resources/edit/#{resource.id}" method="POST">
                              <td><input type="text" name="title" id="edit-title" value="#{resource.title}" /></td>
                              <td>#{resource.author}</td>
                              <td><input type="text" name="hyperlink" id="edit-hyperlink" value="#{resource.url}" /></td>
                              <td><input type="text" name="description" id="edit-description" value="#{resource.description}" /></td>
                              <td>#{resource.created_at}</td>
                              <td>#{resource.updated_at}</td>
                              <td>
                                  <input type="submit" name="operation" value="#{t.author.resources.actions.edit}" /><br>
                                  <a href="/author/resources/delete/#{resource.id}">#{t.author.resources.actions.delete}</a>
                              </td>
                          </form>
                        </tr>
                    - else
                        <tr>
                          <td>#{resource.title}</td>
                          <td>#{resource.author}</td>
                          <td><a href="#{resource.url}">#{resource.link}</a></td>
                          <td>#{resource.description}</td>
                          <td>#{resource.created_at}</td>
                          <td>#{resource.updated_at}</td>
                          <td></td>
                        </tr>
                <tr>
                    <form action="/author/resources/create" method="POST">
                        <td><input type="text" name="title" id="create-title" placeholder="#{t.author.resources.table.title}" /></td>
                        <td>#{login_username}</td>
                        <td><input type="text" name="hyperlink" id="create-hyperlink" placeholder="#{t.author.resources.other.exampleurl}" /></td>
                        <td><input type="text" name="description" id="create-description" placeholder="#{t.author.resources.table.description}" /></td>
                        <td></td>
                        <td></td>
                        <td><input type="submit" name="operation" value="#{t.author.resources.actions.create}" /><br></td>
                    </form>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>