    == slim :_partial_navbar
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          == slim :_partial_author_sidbar
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">#{t.author.blog.title}</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#{t.author.blog.table.title}</th>
                  <th>#{t.author.blog.table.author}</th>
                  <th>#{t.author.blog.table.uploaded}</th>
                  <th>#{t.author.blog.table.modified}</th>
                  <th>#{t.author.blog.table.actions}</th>
                </tr>
              </thead>
              <tbody>
                - @articles.each do |article|
                    <tr>
                      <td><a href="/#{locale?}/blog/#{article.id}">#{article.title}</a></td>
                      <td>#{article.author}</td>
                      <td>#{article.created_at}</td>
                      <td>#{article.updated_at}</td>
                      <td>
                        - if login_username == article.author || login_admin? || login_super?
                          <a href="/#{locale?}/author/articles/edit/#{article.id}">#{t.author.blog.edit}</a><br>
                          <a href="/author/articles/delete/#{article.id}">#{t.author.blog.delete}</a>
                      </td>
                    </tr>
              </tbody>
            </table>
            <a href="/#{locale?}/author/articles/create">#{t.author.blog.new}</a>
          </div>
        </div>
      </div>
    </div>