    == slim :_partial_navbar
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          == slim :_partial_author_sidbar
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">#{t.author.videos.header}</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#{t.author.videos.table.title}</th>
                  <th>#{t.author.videos.table.author}</th>
                  <th>#{t.author.videos.table.type}</th>
                  <th>#{t.author.videos.table.uri}</th>
                  <th>#{t.author.videos.table.description}</th>
                  <th>#{t.author.videos.table.uploaded}</th>
                  <th>#{t.author.videos.table.modified}</th>
                  <th>#{t.author.videos.table.actions}</th>
                </tr>
              </thead>
              <tbody>
                - @videos.each do |video|
                    - if login_username == video.author || login_admin? || login_super?
                        <tr>
                          <form id="deleteForm#{video.id}" action="/author/videos/delete/#{video.id}" method="POST"></form>
                          <form id="editForm#{video.id}" action="/author/videos/edit/#{video.id}" method="POST"></form>
                          <td><input type="text" name="title" id="edit-title" value="#{video.title}" form="editForm#{video.id}" /></td>
                          <td>#{video.author}</td>
                          <td>
                              <select name="host" form="editForm#{video.id}">
                                  - if video.host == 'youtube'
                                    <option value="youtube" selected form="editForm#{video.id}">#{t.author.videos.table.selector.youtube}</option>
                                    <option value="vimeo" form="editForm#{video.id}">#{t.author.videos.table.selector.vimeo}</option>
                                  - else
                                    <option value="youtube" form="editForm#{video.id}">#{t.author.videos.table.selctor.youtube}</option>
                                    <option value="vimeo"selected form="editForm#{video.id}">#{t.author.videos.table.selector.vimeo}</option>
                              </select>
                          </td>
                          <td><input type="text" name="uri" id="edit-uri" value="#{video.uri}" form="editForm#{video.id}" /></td>
                          <td><input type="text" name="description" id="edit-description" value="#{video.description}" form="editForm#{video.id}" /></td>
                          <td>#{video.created_at}</td>
                          <td>#{video.updated_at}</td>
                          <td>
                              <input type="submit" name="operation" value="#{t.author.videos.actions.edit}" form="editForm#{video.id}"/><br>
                              <input type="submit" name="operation" value="#{t.author.videos.actions.delete}" form="deleteForm#{video.id}">
                          </td>
                        </tr>
                    - else
                        <tr>
                          <td>#{video.title}</td>
                          <td>#{video.author}</td>
                          <td>#{video.host}</td>
                          <td>#{video.link}</td>
                          <td>#{video.description}</td>
                          <td>#{video.created_at}</td>
                          <td>#{video.updated_at}</td>
                          <td></td>
                        </tr>
                <tr>
                    <form action="/author/videos/create" method="POST">
                        <td><input type="text" name="title" id="create-title" placeholder="#{t.author.videos.table.title}" /></td>
                        <td>#{login_username}</td>
                        <td>
                            <select id="create-host" name="host">
                                <option value="youtube">#{t.author.videos.table.selector.youtube}</option>
                                <option value="vimeo">#{t.author.videos.table.selector.vimeo}</option>
                            </select>
                        </td>
                        <td><input type="text" name="uri" id="create-uri" placeholder="XXXXXX" /></td>
                        <td><input type="text" name="description" id="create-description" placeholder="#{t.author.videos.table.description}" /></td>
                        <td></td>
                        <td></td>
                        <td><input type="submit" name="operation" value="#{t.author.videos.actions.create}" /><br></td>
                    </form>
                </tr>
              </tbody>
            </table>
            <p>#{t.author.videos.helpbeg} https://www.youtube.com/watch?v=5kIe6UZHSXw #{t.author.videos.helpend} 5kIe6UZHSXw.</p>
          </div>
        </div>
      </div>
    </div>