    == slim :_partial_navbar
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          == slim :_partial_author_sidbar
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">#{t.author.traffic.header}</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#{t.author.traffic.url}</th>
                  <th>#{t.author.traffic.visits}</th>
                </tr>
              </thead>
              <tbody>
                - @trackers.each do |tracker|
                    <tr>
                      <td><a href="#{tracker.url}">#{tracker.url}</a></td>
                      <td>#{tracker.visits}</td>
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>