<link href="/src/css/index.css" rel="stylesheet">
<link href="https://cdn.plyr.io/2.0.11/plyr.css" rel="stylesheet">

== slim :_partial_navbar
<div class="jumbotron">
  <div class="container">
    <h1>#{t.home.title}</h1>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="/#{locale?}/about" role="button">#{t.home.learnmore} &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 content-box">
      <h2 class="de-trans">#{t.home.news}</h2>
      <hr>
      - @feeds.each do |feed|
        <h4 class="de-trans"><a href="/#{locale?}/news/#{feed.id}">#{feed.title}</a></h4>
        <h6 class="de-trans">#{feed.author} | #{feed.updated_at}</h6>
        <p class="de-trans">#{feed.content}</p>
        <hr>
      <!--<p class="de-trans"><a class="btn btn-default" href="#" role="button">#{t.home.readmore} &raquo;</a></p>-->
    </div>
    <div class="col-md-3 content-box">
      <h2 class="de-trans">#{t.home.videos}</h2>
      <hr>
      - @videos.each do |video|
        <h4 class="de-trans">#{video.title}</h4>
        <h6 class="de-trans">#{video.author} | #{video.updated_at}</h6>
        <div data-type="#{video.host}" data-video-id="#{video.uri}"></div>
        <p class="de-trans">#{video.description}</p>
        <hr>
      <p class="de-trans"><a class="btn btn-default" href="/#{locale?}/videos" role="button">#{t.home.seemore} &raquo;</a></p>
    </div>
    <div class="col-md-3 content-box">
      <h2 class="de-trans">#{t.home.blog}</h2>
      <hr>
      - @posts.each do |post|
        <h4 class="de-trans"><a href="/#{locale?}/blog/#{post.id}">#{post.title}</a></h4>
        <h6 class="de-trans">#{post.author} | #{post.updated_at}</h6>
        <hr>
      <p class="de-trans"><a class="btn btn-default" href="/#{locale?}/blog" role="button">#{t.home.visitblog} &raquo;</a></p>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; 2016 WULF-Southeast</p>
  </footer>
</div>
<script src="https://cdn.plyr.io/2.0.11/plyr.js"></script>
<script>plyr.setup();</script>
