<ul class="nav nav-sidebar">
    <li><a href="/author/home">Dashboard</a></li>
    <li><a href="/author/articles">Articles</a></li>
    <li><a href="/author/news">News</a></li>
    <li><a href="/author/resources">Resources</a></li>
    <li><a href="/author/traffic">Traffic</a></li>
    <li><a href="/author/videos">Videos</a></li>
    <li><a href="/author/users">Users</a></li>
</ul>