== slim :_partial_navbar

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to WULF</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>News</h2>
      <hr>
      - for @feeds.each do |feed|
        <h4>#{feed.title}</h4>
        <h6>#{feed.author} | #{feed.updated_at}</h6>
        <p>#{feed.content}</p>
      <hr>
      <hr>
      <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Videos</h2>
      <hr>
      <h4>Title 1</h4>
      <p>Content 1.</p>
      <hr>
      <h4>Title 2</h4>
      <p>Content 2.</p>
      <hr>
      <h4>Title 3</h4>
      <p>Content 3.</p>
      <hr>
      <p><a class="btn btn-default" href="#" role="button">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Blog</h2>
      <hr>
      <h4>Title 1</h4>
      <p>Content 1.</p>
      <hr>
      <h4>Title 2</h4>
      <p>Content 2.</p>
      <hr>
      <h4>Title 3</h4>
      <p>Content 3.</p>
      <hr>
      <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2016 WULF-Southeast</p>
  </footer>
</div>
<!-- /container -->
