<link href="/src/css/index.css" rel="stylesheet">
== slim :_partial_navbar
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to WULF</h1>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 content-box">
      <h2 class="de-trans">News</h2>
      <hr>
      - @feeds.each do |feed|
        <h4 class="de-trans"><a href="/news/#{feed.id}">#{feed.title}</a></h4>
        <h6 class="de-trans">#{feed.author} | #{feed.updated_at}</h6>
        <p class="de-trans">#{feed.content}</p>
        <hr>
      <p class="de-trans"><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
    </div>
    <div class="col-md-3 content-box">
      <h2 class="de-trans">Videos</h2>
      <hr>
      <h4 class="de-trans">Title 1</h4>
      <p class="de-trans">Content 1.</p>
      <hr>
      <h4 class="de-trans">Title 2</h4>
      <p class="de-trans">Content 2.</p>
      <hr>
      <h4 class="de-trans">Title 3</h4>
      <p class="de-trans">Content 3.</p>
      <hr>
      <p class="de-trans"><a class="btn btn-default" href="#" role="button">See more &raquo;</a></p>
    </div>
    <div class="col-md-3 content-box">
      <h2 class="de-trans">Blog</h2>
      <hr>
      - @posts.each do |post|
        <h4 class="de-trans"><a href="/blog/#{post.id}">#{post.title}</a></h4>
        <h6 class="de-trans">#{post.author} | #{post.updated_at}</h6>
        <hr>
      <p class="de-trans"><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; 2016 WULF-Southeast</p>
  </footer>
</div>
